<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xupt.outpatientms.mapper.UserMapper">

    <insert id="addUser" parameterType="com.xupt.outpatientms.dto.UserRegisterDTO" useGeneratedKeys="true">
        INSERT INTO xuptcd_db.user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            user_name, user_tel, user_pwd,
            <if test="userGender!=null">
                user_gender,
            </if>
            <if test="userAge!=null">
                user_age,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{userName}, #{userTel}, #{userPwd},
            <if test="userGender!=null">
                #{userGender},
            </if>
            <if test="userAge!=null">
                #{userAge},
            </if>
        </trim>
        ;
    </insert>

    <select id="checkUserTelUnique" resultType="int">
        SELECT count(*) FROM user WHERE user_tel = #{userTel};
    </select>

    <update id="newAvatar">
        UPDATE user SET user_avatar=#{avatarUrl} WHERE user_id=#{userId};
    </update>

    <select id="login" resultType="com.xupt.outpatientms.bean.User">
        SELECT * FROM user WHERE user_tel = #{userTel} AND user_pwd = #{userPwd};
    </select>

    <update id="updateUser" parameterType="com.xupt.outpatientms.dto.UserUpdateDTO">
        UPDATE user SET
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="userTel!=null">
                user_tel = #{userTel},
            </if>
            <if test="userGender!=null">
                user_gender = #{userGender},
            </if>
            <if test="userAge!=null">
                user_age = #{userAge},
            </if>
            <if test="newPwd!=null">
                user_pwd = #{newPwd},
            </if>
        </trim>
        WHERE user_id = #{userId}
        <if test="newPwd!=null">
            AND user_pwd = #{oldPwd}
        </if>
        ;
    </update>

    <select id="" resultType="com.xupt.outpatientms.vo.UserVO">
        SELECT * FROM user WHERE user_id = #{userId};
    </select>

</mapper>